/*Badminton Styles*/
.baddyHP {
    position: relative;
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    color: black;
    background-color: white;
    font-family: 'Roboto Slab', serif;
  }

.baddyHP > img {
    position: absolute;
    height: 95%;
    width: 30%;
    top: 15px;
    right: 80px;
}

.baddytxt {
    position: absolute;
    width: 600px;
    top: 110px;
    left: 50px;
}

.baddytxt2 {
    position: absolute;
    width: 650px;
    top: 265px;
    left: 50px;
}

.baddyHPbut {
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding-top: 5px;
    padding-right: 10px;
    z-index: 1;
    background-color: #0C1E36;
    color: white;
    width: 150px;
    height: 45px;
    text-align: center;
    top: 350px;
    left: 50px;
}
  
.baddyHPbut2 {
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding-top: 5px;
    padding-right: 10px;
    z-index: 1;
    background-color: #0C1E36;
    color: white;
    width: 160px;
    height: 45px;
    text-align: center;
    top: 350px;
    left: 250px;    
}

.baddyHPbut3 {
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding-top: 5px;
    padding-right: 10px;
    z-index: 1;
    background-color: #0C1E36;
    color: white;
    width: 160px;
    height: 45px;
    text-align: center;
    top: 350px;
    left: 460px;    
}